 *{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
 }

.container{
    background-color: #e5e5e5;
   min-height: 100vh;
   border: 8px solid darkslateblue;
     
}
:content{
    max-width: 900px;
    margin: 0 auto;

 }
 .img_container,img{
  width: 300px;
  height: 320;
 }
 .top_section{
    margin: 100px; ;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 }
 .top_section h1{
    font-size: 50px;
    font-weight: 100 bold;
    color: blueviolet;
    text-transform: uppercase;
 }
 .top_section h4{
    font-size: 30px;
    text-align: end;
 }
 .img_container{
    border-radius: 50%;
    overflow: hidden;
 }
.about_section h2{
   font-size: 70px;
   font-weight: 400;
   margin-bottom: 20px;

 }
.about_section p{
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 1.2px;
   text-align: justify;
}
.biography_section{
   margin-top: 50px; 
}
.biography_section h3{
   margin-bottom: 20px; 

}
.biography_section ul{
   margin-left: 50px;
}
.biography_section li{
   margin-bottom: 50px;
}
footer{
   margin:50px 0 ;
}
footer p{
 text-align: end;
}